#token of bot that is needed for access
token = "YOUR_TOKEN"

#group id of bot
group_id = "YOUR_GROUP_ID"

#text that will be shown when user asks /help command
help_text = "HELP_TEXT"

#text that will be shown when user asks /repeat command
repeat_text = "REPEAT_TEXT"

#default repeat times for every user
repeat_times {
default = 1
}

#set log verbosity. Can be one of the next values : Info/Debug/Warning/Error
log_verbosity = "Debug"